        div#blok1 {
		background-color:green;
		width:613px;
		}
		div#blok2 {
		background-color:green;
		width:613px;
		}
		div#blok3 {
		background-color:green;
		width:613px;
		}
		div#blok1:hover{
		background-color:blue;
		font-size:2cm;
		}
		div#blok2:hover{
		background-color:yellow;
		font-size:2cm;
		}
		div#blok3:hover{
		background-color:gold;
		font-size:2cm;
		}